body{
	background-image: url(images/white_wall_hash.png);
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.haut {

	background-color: rgba(250, 252, 250, 0.9);
	font-family: "Roboto";
	font-weight: 400;
	font-size: 16px;
	border-bottom: 1px solid grey;

}

.nav {

	padding-bottom: 10px;
	padding-top: 10px;
}

.navbar-brand {

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}


#titre {
	
	background-image: url(images/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Roboto", sans-serif;
	letter-spacing: 1px;
	height: 450px;
	font-weight: 300;
	color: white;
	text-align: center;
	padding-top: 150px;
	text-shadow; 1px 1px 1px rgba(0, 0, 0, 0.5)
 }	

#titre h1 {

	font-size: 56px;
	line-height: 64px;
	font-weight: 300


}

#titre h3 {

	font-size: 28px;
	margin-bottom: 1em;
	font-weight: 300;
	
}

.btn {

	background-color: rgb(79, 182, 129);
	color: white;
}

.barre {
	padding-left: 100px;
	padding-right: 100px;
	letter-spacing: 1px;
	background-color: white;
	font-size: 14px;
}

#adresse{

	padding-top: 30px;
	padding-bottom: 20px;

}

h2 {

	font-size: 40px;
	letter-spacing: 1px;
	text-shadow; 2px 2px 2px rgba(0, 0, 0, 0.5)
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	text-align: center;
}

h3 {

	text-shadow; 2px 2px 2px rgba(0, 0, 0, 0.5)
	font-family: "Roboto", sans-serif;
	font-size: 19px;
	line-height: 26px;
	font-weight: 400;
	letter-spacing: 2px;
}

h4 {

	font-size: 13px;
	line-height: 24px;
	letter-spacing: 1px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}


#menu {

	text-align: justify;
}

.foodname {

	margin-bottom: 40px
}

#commentcamarche {

	background-color: white;
	padding-top: 50px;
	padding-bottom: 80px;
}



#teaser {

	letter-spacing: 1px;
	font-size: 16px;

}

#teaser img {

	margin-bottom: 1.2em;
	border: 1.5px solid rgb(79, 182, 129);
	border-radius: 50%;
	padding: 5px;
}

#menu {

	padding-bottom: 80px;
}

.dessert {

	margin: 0 auto;
	width: 360px;
}


.zonelivraison {


	padding-top: 50px;
	padding-bottom: 80px;
}

#map {

	margin: 0 auto;
}

#compteentreprise {

	background-color: white;
	padding-top: 50px;
	padding-bottom: 80px;
}
 
#compteentreprise p {

	font-size: 21px;
	line-height: 21px;
}

.spacer {

	height: 4em;

}

h5 {

	font-size: 16px;
	line-height: 22px;
	padding-bottom: 20px;

}


#footer {

	background-color: rgb(38, 50, 56);
	color: white;
	font-weight: 300;
	padding-top: 70px;
	padding-bottom: 80px;

}